[submodule "docs"]
	path = docs
	url = https://github.com/jo4086/study-docs

[submodule "python"]
	path = python
	url = https://github.com/jo4086/python

[submodule "typescript"]
	path = typescript
	url = https://github.com/jo4086/study-typescript